<{% extends 'catalog/base.html' %}

{% block title %}Подробная информация о товаре{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card mb-4 box-shadow" style="width: 30rem; overflow: hidden;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}"
                 style="height: 250px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Товар: {{ object.product_name }}</h5>
                <p class="card-text">Описание: {{ object.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Категория: {{ object.category }}</li>
                <li class="list-group-item">Цена: {{ object.price }}</li>
                <li class="list-group-item">Дата создания: {{ object.created_at|date:"d M Y" }}</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
    {% endblock %}
