{% extends 'catalog/base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="container">
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="{% url 'catalog:product_create' %}" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Создать новый продукт
            </a>
        </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        {% for product in object_list %}
        <div class="card mb-4 box-shadow" style="width: 30rem; overflow: hidden;">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}"
                 style="height: 250px; object-fit: cover;">
            <div class="card-body">
                <h6 class="card-title">{{ product.product_name }}</h6>
                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
            </div>
            <div class="mt-auto">
                <div class="d-grid gap-2">
                    <a href="{% url 'catalog:product_detail' product.pk %}"
                       class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-eye"></i> Просмотр
                    </a>

                    <div class="btn-group" role="group">
                        {%  if product.owner == request.user %}
                            <a href="{% url 'catalog:product_update' product.pk %}"
                               class="btn btn-outline-secondary btn-sm">
                                <i class="bi bi-pencil"></i> Обновить
                            </a>
                        {% endif %}
                        {% if product.owner == request.user or perms.catalog.delete_product %}
                            <a href="{% url 'catalog:product_delete' product.pk %}"
                               class="btn btn-outline-danger btn-sm">
                                <i class="bi bi-trash"></i> Удалить
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}